@charset "utf-8";

.size10,
.size10 h1,
.size10 h2,
.size10 h3,
.size10 h4,
.size10 h5,
.size10 h6,
.size10 .remark-code {
    font-size: 10px !important;
}

.size20,
.size20 h1,
.size20 h2,
.size20 h3,
.size20 h4,
.size20 h5,
.size20 h6,
.size20 .remark-code {
    font-size: 20px !important;
}

.size30,
.size30 h1,
.size30 h2,
.size30 h3,
.size30 h4,
.size30 h5,
.size30 h6,
.size30 .remark-code {
    font-size: 30px !important;
}

.size40,
.size40 h1,
.size40 h2,
.size40 h3,
.size40 h4,
.size40 h5,
.size40 h6,
.size40 .remark-code {
    font-size: 40px !important;
}

.size50,
.size50 h1,
.size50 h2,
.size50 h3,
.size50 h4,
.size50 h5,
.size50 h6,
.size50 .remark-code {
    font-size: 50px !important;
}

.size60,
.size60 h1,
.size60 h2,
.size60 h3,
.size60 h4,
.size60 h5,
.size60 h6,
.size60 .remark-code {
    font-size: 60px !important;
}

.size70,
.size70 h1,
.size70 h2,
.size70 h3,
.size70 h4,
.size70 h5,
.size70 h6,
.size70 .remark-code {
    font-size: 70px !important;
}

.size80,
.size80 h1,
.size80 h2,
.size80 h3,
.size80 h4,
.size80 h5,
.size80 h6,
.size80 .remark-code {
    font-size: 80px !important;
}

.size90,
.size90 h1,
.size90 h2,
.size90 h3,
.size90 h4,
.size90 h5,
.size90 h6,
.size90 .remark-code {
    font-size: 90px !important;
}

.size100,
.size100 h1,
.size100 h2,
.size100 h3,
.size100 h4,
.size100 h5,
.size100 h6,
.size100 .remark-code {
    font-size: 100px !important;
}

.size110,
.size110 h1,
.size110 h2,
.size110 h3,
.size110 h4,
.size110 h5,
.size110 h6,
.size110 .remark-code {
    font-size: 110px !important;
}

.size120,
.size120 h1,
.size120 h2,
.size120 h3,
.size120 h4,
.size120 h5,
.size120 h6,
.size120 .remark-code {
    font-size: 120px !important;
}

.size130,
.size130 h1,
.size130 h2,
.size130 h3,
.size130 h4,
.size130 h5,
.size130 h6,
.size130 .remark-code {
    font-size: 130px !important;
}
