@charset "utf-8";

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    font-size: 80px !important;
}

h2 {
    font-weight: normal;
}

h3 {
    font-size: 45px !important;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}

a:hover {
    text-decoration: underline;
}

li {
    line-height: 1.6em;
}

iframe {
    border: 0;
}

em, mark, samp, var, del {
    display: inline-block;
    padding: 0 15px;
    font-style: normal;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: none;
}

code {
    display: inline-block;
    padding: 2px 15px;
    margin: 3px 0;
}

kbd {
    /* Source: GitHub.com */
    display: inline-block;
    padding: 3px 5px;
    vertical-align: middle;
    border-radius: 5px;
}

/* -------------------------------------------------------------------------- */

.remark-slide-content {
    --font-size: 26px;
    margin-top: 0;
    font-size: var(--font-size);
}

.remark-slide-content .remark-slide-number {
    font-size: var(--font-size) !important;
    font-weight: normal !important;
    opacity: 0.2;
}

.no-display-slide-number .remark-slide-number {
    display: none;
}

.slim {
    font-weight: 100;
}

.bold,
.bold * {
    font-weight: bold !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
}

.full-height {
    height: 100%;
}

.middle-images img {
    vertical-align: middle;
}

.line-height-2x li {
    line-height: 2em;
}
