@charset "utf-8";

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    font-size: 80px !important;
}

h2 {
    font-weight: normal;
}

h3 {
    border-bottom: 1px solid #ccc;
    font-size: 45px !important;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    color: #808080;
}

a {
    color: #2380e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    line-height: 1.6em;
}

iframe {
    border: 0;
}

code {
    /* From gist.github.com */
    /* background: #f6f8fa; */
    /* color: #24292e; */

    background: #616161;
    color: #fff;
    padding: 2px 15px;
    margin: 3px 0;
    display: inline-block;
}

em {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    background: #2380e6;
    font-style: normal;
}

em a {
    color: #fff;
}

mark {
    display: inline-block;
    padding: 0 15px;
    background: #f0db4f; /* JS Yellow */
}

samp {
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    background: #f7302f; /* WarsawJS Red */
    font-weight: inherit;
    font-family: inherit;
}

var {
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    background: #12aa12;
    font-style: normal;
}

ins {
    color: gray;
    text-decoration: none;
}

ins::selection {
    background: transparent;
    color: #fff;
}

/* -------------------------------------------------------------------------- */

.remark-slide-content {
    margin-top: 0;
    font-size: 26px;
}

.slim {
    font-weight: 100;
}

.remark-slide-content .text-left {
    text-align: left;
}

.remark-slide-content .text-center {
    text-align: center;
}

.remark-slide-content .text-right {
    text-align: right;
}

.list-unstyled ol,
.list-unstyled ul {
    padding-left: 0;
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
}

.half-width {
    width: 50%;
}

.middle-images img {
    vertical-align: middle;
}

.line-height-2x li {
    line-height: 2em;
}
