@charset "utf-8";

.remark-slide-content.slide-fullscreen-content {
    padding: 0;
    background-size: contain;
}

.remark-slide-content.slide-fullscreen-content p {
    margin: 0;
}

.remark-slide-content.slide-fullscreen-content .remark-slide-number,
.remark-slide-content.slide-fullscreen-content:after {
    display: none !important;
}
