@charset "utf-8";

.tag-cloud.change-size li:nth-of-type(5n + 1) {
    font-size: larger;
}

.tag-cloud.change-size li:nth-of-type(5n + 2) {
    font-size: large;
}

.tag-cloud.change-size li:nth-of-type(5n + 3) {
    font-size: medium;
}

.tag-cloud.change-size li:nth-of-type(5n + 4) {
    font-size: small;
}

.tag-cloud.change-size li:nth-of-type(5n + 5) {
    font-size: smaller;
}
