@charset "utf-8";

.tag-cloud.inline ul {
    padding: 0;
}

.tag-cloud.inline ul li {
    display: inline-block;
}

/*
.tag-cloud li:nth-of-type(2n) {
    font-size: large;
}

.tag-cloud li:nth-of-type(4n) {
    font-size: medium;
}

.tag-cloud li:nth-of-type(6n) {
    font-size: small;
}

.tag-cloud li:nth-of-type(8n) {
    font-size: smaller;
}
*/

.tag-cloud li:nth-of-type(2n + 1) {
    color: #9b59b6;
}

.tag-cloud li:nth-of-type(2n + 2) {
    color: #e74c3c
}

.tag-cloud li:nth-of-type(2n + 3) {
    color: #27ae60;
}

.tag-cloud li:nth-of-type(2n + 4) {
    color: #3498db;
}

.tag-cloud li:nth-of-type(2n + 5) {
    color: #e67e22;
}
